#########
# Files #
#########
*.md
.env*
.gitignore
.github
.devcontainer
.modified

###########
# Folders #
###########
.idx/
.next/
.pnpm-store/
docker/
node_modules/
playwright-report/
specs/
test-results/